<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>

<strong>INDEX ME: {{.Firstname}} {{.Lastname}}</strong><br>
<a href="/">index</a><br>
<a href="/dog">Dog</a><br>
<a href="/me">Me</a><br>

</body>
</html>