<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>predefined global functions</title>
</head>
<body>
{{if gt .Score1 .Score2}}
    Score1 is greater {{.Score1}}
{{end}}
{{if lt .Score1 .Score2}}
    Score1: {{.Score1}} is less than Score2: {{.Score2}}
{{end}}
</body>
</html>
