<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>predefined global functions</title>
</head>
<body>
Example #1
List Users with its attributes
{{range .}}
    {{.}}
{{end}}

Example #2
Check if slice is Not null
{{if .}}
    List all elements from slice
    {{.}}
{{end}}

Example #3
{{range .}}
    {{if .Name}}
        Name: {{.Name}}
    {{end}}
{{end}}

Example #4
{{range .}}
    {{if and .Name .Admin}}
        Name: {{.Name}}
        Motto: {{.Motto}}
        Admin: {{.Admin}}
    {{end}}
{{end}}
</body>
</html>
