<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>
original value: {{.}}

double: {{. | fdbl}}

double | square: {{. | fdbl | fsq}}

double | square | squareRoot: {{. | fdbl | fsq | fsqrt}}
</body>
</html>