<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Peeps!</title>
</head>
<body>
{{/*only get values of map*/}}
<ul>
    {{range .}}
    <li>{{.}}</li>
    {{end}}
</ul>
</body>
</html>
