<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
    Breakfast   : {{.Breakfast}}
    Lunch       : {{.Lunch}}
    Dinner      : {{.Dinner}}
{{end}}

</body>
</html>
